.App {
  padding: 2rem;
}

.App header {
  border: 1px solid #bbb;
  background-color: #eee;
  text-align: center;
}

.App > div {
  margin-top: 2rem;
  border: 1px solid #bbb;
}

.App table {
  margin: 2rem;
  border: 1px solid #bbb;
  border-spacing: 0;
  border-collapse: collapse;
}
.App table th, .App table td {
  padding: 0.8rem;
  text-align: right;
  border: 1px solid #bbb;
}

.App form {
  margin: 2rem;
}
.App form div {
  margin: 0.8rem;
}
